body {
	margin: 0px;
	display: grid;
  	grid-template-areas:
    'header header header header header header header'
    'menu menu main main main main main'
    'menu menu footer footer footer footer footer';
  	gap: 10px;
  	background-color: #85aa41;
  	padding: 10px;
}

button {
	margin: 10px;
	width: 160px;
	height: 40px;
	background: #85aa41;
	border: 2px solid black;
}

button:hover {
	background-color: #ffffff;
}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.Grid-Layout {
	text-align: center;
  	padding: 20px 0;
  	font-size: 30px;
  	background-color: #3e8e41;
}

.Header {
	grid-area: header;
}

.Menu {
	grid-area: menu;
}

.Main {
	grid-area: main;
}

.Footer {
	grid-area: footer;
  	font-size: 15px;	
}

.Flex-container {
  	display: flex;
  	flex-wrap: wrap;
}

.Flex-container > div {
  	background-color: #85aa41;
  	margin: 10px;
  	padding: 20px;
  	font-size: 15px;
  	flex-grow: 4;
}

@media (max-width: 800px) {
  	.flex-container {
  		flex-direction: column;
  	}
}